.login {
  max-width: 28rem;
  margin: 8rem auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--gray-color);
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login__heading {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--highlight-text);
}

.login__input {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.625rem;
  border: 1px solid var(--gray-color);
  background-color: var(--white-color);
  transition: border 0.3s ease;
}

.login__input:focus {
  border-color: #4e7a34;
  outline: none;
}

.login__btn {
  width: 100%;
  padding: 0.875rem;
  margin-top: 1rem;
  background-color: transparent;
  border: 1.6px solid var(--highlight-text);
  color: var(--highlight-text);
  border-radius: 0.625rem;
  font-size: 1.4rem;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.login__btn--primary:hover {
  background-color: var(--highlight-text);
  color: white;
}

.login__register-prompt {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--darker-gray);
}

.login__register-link {
  color: #4e7a34;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

/* modal đăng kí */
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease forwards;
}

.modal__content {
  background-color: #f3f3f3;
  margin: 12rem auto;
  padding: 2rem;
  width: 90%;
  max-width: 30rem;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transform: scale(0.8);
  opacity: 0;
  animation: popIn 0.3s ease forwards;
}

.modal__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--highlight-text);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal__close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.modal__close-btn:hover {
  color: #f44336;
}

.modal__input {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.625rem;
  border: 1px solid var(--gray-color);
  background-color: var(--white-color);
  transition: border 0.3s ease;
}

.modal__input:focus {
  border-color: #4e7a34;
  outline: none;
}

.modal__btn {
  width: 100%;
  padding: 0.875rem;
  margin-top: 1rem;
  background-color: transparent;
  border: 1.6px solid var(--highlight-text);
  color: var(--highlight-text);
  border-radius: 0.625rem;
  font-size: 1.4rem;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.modal__btn--primary:hover {
  background-color: var(--highlight-text);
  color: white;
}

/* responsive */
@media (max-width: 1074px) {
  .login,
  .modal__content {
    padding: 1.5rem;
  }

  .login__input,
  .modal__input {
    font-size: 1rem;
  }

  .login__btn,
  .modal__btn {
    font-size: 1rem;
    padding: 0.75rem;
  }

  .login__register-prompt {
    font-size: 1.125rem;
  }
}
